* {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(20, 21, 22);
    color: white;
  }
  
  #subtitle {
  
      font-size: 24px;
      text-align: center;
      font-weight: bold;
  }
  
  a {
      color: blue;
  }
  
  a:hover{
      color: red;
  }
  
  a:visited {
      color: purple;
  }
  
  h1 {
      
      font-size: 26px;
      font-weight: bolder;
      text-align: center;
      color: red;
      border: solid 3px;
      border-color: red;
      padding: 15px;
      margin: 15px; 
  }
  
  .row {
  
      display: flex; /* without this div the boxes wont be next to each other and just dosent work*/
        height: 68vh;
  }
  
  .columdatabase {
  
      border: solid 3px;
      border-color: lightgoldenrodyellow;
      padding: 15px;
      margin: 15px; 
      flex: 100%;
      float: initial;
  
  }
  
  .columaboutus {
  
      border: solid 3px;
      border-color: lightgoldenrodyellow;
      padding: 15px;
      margin: 15px; 
      flex: 50%;
      float: initial;
      text-align: center;
  
  }
  
  .colum1 {
  
      border: solid 3px;
      border-color: lightgoldenrodyellow;
      padding: 15px;
      margin: 15px; 
      flex: 75%;
      float: left;
  
  }
  
  .colum2 {
  
      border: solid 3px;
      border-color: lightgoldenrodyellow;
      padding: 15px;
      margin: 15px; 
      flex: 25%;
      float: right;
  
  }
  
  .footer {
      border: solid 3px;
      border-color: lightgoldenrodyellow;
      padding: 15px;
      margin: 15px; 
      text-align: center;
      
  }
  
  /* all fields under are for input box and button*/
  .box {
      margin: auto;
      width: 50%;
      border: 3px solid black;
      padding: 10px;
    }
  
  
      
  
  /* all fields upbove are for input box and button*/