* {
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(20, 21, 22);
  color: white;
}

#subtitle {

    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.fontbutton {
    text-align: right;
    
}

h1 {
    
    font-size: 26px;
    font-weight: bolder;
    text-align: center;
    color: red;
    border: solid 3px;
    border-color: red;
    padding: 15px;
    margin: 15px; 
}

.row {

    display: flex;
}

.colum1 {

    border: solid 3px;
    border-color: lightgoldenrodyellow;
    padding: 15px;
    margin: 15px; 
    flex: 75%;
    float: left;

}

.colum2 {

    border: solid 3px;
    border-color: lightgoldenrodyellow;
    padding: 15px;
    margin: 15px; 
    flex: 25%;
    float: right;

}

/* all fields under are for input box*/
.box {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    background-color: white;
  }
    
.buttons {text-align: center}
/* all fields upbove are for input box*/
